<div>
  <p>
    Please refer to material.io for full sets of material icons:
    <a target="_blank" href="https://material.io/resources/icons/">https://material.io/resources/icons/</a>
  </p>
</div>
<div fxLayoutGap="50px" fxLayout="row wrap" fxLayoutAlign="start center">
  <div>
    <mat-icon class="md-18">face</mat-icon>
    <p>18px</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24">face</mat-icon>
    <p>24px</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-36">face</mat-icon>
    <p>36px</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-48">face</mat-icon>
    <p>48px</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24 md-dark">face</mat-icon>
    <p>Normal</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24 md-dark md-inactive">face</mat-icon>
    <p>Disabled</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24 md-light">face</mat-icon>
    <p>Normal</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24 md-light md-inactive">face</mat-icon>
    <p>Disabled</p>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example face icon" class="md-24 orange600">face</mat-icon>
    <p>Coloring</p>
  </div>
</div>

