<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Bottom Sheet Overview</mat-card-title>
      <app-bottom-sheet-overview-example></app-bottom-sheet-overview-example>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title >Dialog with header, scrollable content and actions</mat-card-title>
      <app-dialog-content-example></app-dialog-content-example>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title >Basic snack-bar</mat-card-title>
      <app-snack-bar-overview-example></app-snack-bar-overview-example>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title >Basic tooltip</mat-card-title>
      <app-tooltip-overview></app-tooltip-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title >Tooltip with a custom position</mat-card-title>
      <app-tooltip-position></app-tooltip-position>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title >Tooltip that can have a custom class applied</mat-card-title>
      <app-tooltip-custom-class></app-tooltip-custom-class>
    </mat-card>
  </div>

</div>

