<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table overview: sorting, pagination, and filtering</mat-card-title>
      <app-table-overview></app-table-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with expandable rows</mat-card-title>
      <app-table-expandable-rows></app-table-expandable-rows>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table retrieving data through HTTP</mat-card-title>
      <app-table-http></app-table-http>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with selection</mat-card-title>
      <app-table-selection></app-table-selection>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table basic</mat-card-title>
      <app-table-basic-flex></app-table-basic-flex>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with filtering</mat-card-title>
      <app-table-filtering></app-table-filtering>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table footer row</mat-card-title>
      <app-table-footer-row></app-table-footer-row>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with pagination</mat-card-title>
      <app-table-pagination></app-table-pagination>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with sorting</mat-card-title>
      <app-table-sorting></app-table-sorting>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Table with multiple header and footer rows</mat-card-title>
      <app-table-multiple-header></app-table-multiple-header>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Configurable paginator</mat-card-title>
      <app-paginator-config></app-paginator-config>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="40" fxFlex.lt-md="100">
      <mat-card-title>Sorting overview</mat-card-title>
      <app-sorting-overview></app-sorting-overview>
    </mat-card>
  </div>

</div>
