@import '~@angular/material/theming';

@include mat-core();

$wellmark-primary: (
  50 : #e1f4fc,
  100 : #b4e5f8,
  200 : #82d3f4,
  300 : #50c1f0,
  400 : #2bb4ec,
  500 : #05a7e9,
  600 : #049fe6,
  700 : #0496e3,
  800 : #038cdf,
  900 : #017cd9,
  A100 : #ffffff,
  A200 : #cee7ff,
  A400 : #9bceff,
  A700 : #81c2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$wellmark-Variant: (
  50 : #e0f1f8,
  100 : #b3dbef,
  200 : #80c4e4,
  300 : #4dacd9,
  400 : #269ad0,
  500 : #0088c8,
  600 : #0080c2,
  700 : #0075bb,
  800 : #006bb4,
  900 : #0058a7,
  A100 : #d1e6ff,
  A200 : #9ecbff,
  A400 : #6bafff,
  A700 : #52a2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$wellmark-error: (
  50 : #fae7e6,
  100 : #f2c2c1,
  200 : #e99a98,
  300 : #e0716f,
  400 : #d95250,
  500 : #d23431,
  600 : #cd2f2c,
  700 : #c72725,
  800 : #c1211f,
  900 : #b61513,
  A100 : #ffe6e6,
  A200 : #ffb4b3,
  A400 : #ff8180,
  A700 : #ff6867,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Default indigo theme
// $indigo-primary: mat-palette($mat-indigo);
// $indigo-accent:  mat-palette($mat-pink, A200, A100, A400);
// $indigo-theme:   mat-light-theme($indigo-primary, $indigo-accent);
// @include angular-material-theme($indigo-theme);

// Custom wellmark theme
$wellmark-demo-primary: mat-palette($wellmark-primary, 500);
$wellmark-demo-accent:  mat-palette($wellmark-Variant, A200, A100, A400);
$wellmark-demo-warn:    mat-palette($wellmark-error);
$wellmark-demo-theme:   mat-light-theme($wellmark-demo-primary, $wellmark-demo-accent, $wellmark-demo-warn);
@include angular-material-theme($wellmark-demo-theme);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

// Background palette for light themes.
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: mat-color(map_get($wellmark-demo-theme, accent), 100),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700),
);

// mat-typography-level(font-size, line-height, and font-weight, 'option: $letter-spacing:')
$wellmark-demo-typography: mat-typography-config(
  $font-family:   'Open Sans, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 600),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 600),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 600),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@include angular-material-typography($wellmark-demo-typography);
// @include mat-core($wellmark-demo-typography);

