<mat-nav-list>

  <!-- <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a> -->

  <a mat-list-item routerLink="/form_control" (click)="onClose()">
    <span class="nav-caption">Form Controls</span>
  </a>

  <a mat-list-item routerLink="/navigation" (click)="onClose()">
  <span class="nav-caption">Navigation</span>
  </a>

  <a mat-list-item routerLink="/layout" (click)="onClose()">
  <span class="nav-caption">Layout</span>
  </a>

  <a mat-list-item routerLink="/btn_indicator" (click)="onClose()">
  <span class="nav-caption">Buttons & Indicators</span>
  </a>

  <a mat-list-item routerLink="/popup_modal" (click)="onClose()">
  <span class="nav-caption">Popups & Modals</span>
  </a>

  <a mat-list-item routerLink="/table" (click)="onClose()">
  <span class="nav-caption">Data table</span>
  </a>
  <a mat-list-item routerLink="/typography" (click)="onClose()">
  <span class="nav-caption">Typography</span>
  </a>

  <!-- <mat-list-item>
    <button mat-icon-button  (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item> -->

</mat-nav-list>
