<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Autocomplete overview</mat-card-title>
      <app-autocomplete-overview></app-autocomplete-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Autocomplete simple</mat-card-title>
      <app-simple></app-simple>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Autocomplete option</mat-card-title>
      <app-autocomplete-option></app-autocomplete-option>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Checkbox</mat-card-title>
      <app-checkbox></app-checkbox>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Datepicker basic</mat-card-title>
      <app-datepicker-basic></app-datepicker-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Datepicker disabled</mat-card-title>
      <app-datepicker-disabled></app-datepicker-disabled>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Datepicker touch UI</mat-card-title>
      <app-datepicker-touchui></app-datepicker-touchui>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Form field</mat-card-title>
      <app-form-field-basic></app-form-field-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="70" fxFlex.lt-md="100">
      <mat-card-title>Input</mat-card-title>
      <app-input-basic></app-input-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="70" fxFlex.lt-md="100">
      <mat-card-title>Input with hints</mat-card-title>
      <app-input-basic></app-input-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Basic radios</mat-card-title>
      <app-radio-btn></app-radio-btn>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Select in a form</mat-card-title>
      <app-select-form></app-select-form>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Disabled select</mat-card-title>
      <app-select-disabled></app-select-disabled>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Select with multiple selection</mat-card-title>
      <app-select-mulitple></app-select-mulitple>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Select with custom panel styling</mat-card-title>
      <app-select-custom-panel></app-select-custom-panel>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Select with a custom ErrorStateMatcher</mat-card-title>
      <app-select-error></app-select-error>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="60" fxFlex="100" fxFlex.lt-md="100">
      <mat-card-title>Configurable slider</mat-card-title>
      <app-slider-config></app-slider-config>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="40" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Configurable slide-toggle</mat-card-title>
      <app-slider-toggle></app-slider-toggle>
    </mat-card>
  </div>

</div>
