<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-lg="30" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Card with multiple sections</mat-card-title>
      <app-layout-card></app-layout-card>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex.gt-lg="30" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Basic divider</mat-card-title>
      <app-divider-basic></app-divider-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Basic expansion panel</mat-card-title>
      <app-exp-panel-basic></app-exp-panel-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Expansion panel as accordion</mat-card-title>
      <app-exp-panel-accord></app-exp-panel-accord>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Dynamic grid-list</mat-card-title>
      <app-gridlist></app-gridlist>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>List with selection</mat-card-title>
      <app-layout-list></app-layout-list>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Stepper overview</mat-card-title>
      <app-stepper-overview></app-stepper-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Stepper vertical</mat-card-title>
      <app-stepper-vertical></app-stepper-vertical>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Tabs basic</mat-card-title>
      <app-tabs-basic></app-tabs-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Tab group with dynamic height based on tab contents</mat-card-title>
      <app-tabs-dynamic-height></app-tabs-dynamic-height>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Customizing the theme options on the tab group</mat-card-title>
      <app-tabs-option></app-tabs-option>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Tree with dynamic data</mat-card-title>
      <app-tree-dynamic></app-tree-dynamic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Tree with flat nodes</mat-card-title>
      <app-tree-flat></app-tree-flat>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Tree with checkboxes</mat-card-title>
      <app-tree-checkbox></app-tree-checkbox>
    </mat-card>
  </div>

</div>
