<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Basic menu</mat-card-title>
      <app-menu-basic></app-menu-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Menu with icons</mat-card-title>
      <app-menu-icons></app-menu-icons>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Nested menu</mat-card-title>
      <app-menu-nested></app-menu-nested>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Autosize sidenav</mat-card-title>
      <app-sidenav-auto></app-sidenav-auto>
    </mat-card>
  </div>

  <div fxLayoutAlign="center" fxLayout="column" class="sidenav-mode">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Sidenav with configurable mode</mat-card-title>
    </mat-card>
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Sidenav with configurable mode</mat-card-title>
      <app-sidenav-mode></app-sidenav-mode>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Multi-row toolbar</mat-card-title>
      <app-toolbar-multirow></app-toolbar-multirow>
    </mat-card>
  </div>

</div>
