<div class="card-container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1%" >

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Button varieties overview</mat-card-title>
      <app-btn-overview></app-btn-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Button toggle appearance</mat-card-title>
      <app-btn-toggle-basic></app-btn-toggle-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Exclusive selection</mat-card-title>
      <app-btn-exclusive></app-btn-exclusive>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Badge overview</mat-card-title>
      <app-badge-overview></app-badge-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Basic chips</mat-card-title>
      <app-chips-basic></app-chips-basic>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Chips Autocomplete</mat-card-title>
      <app-chips-autocomplete></app-chips-autocomplete>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Chips with input</mat-card-title>
      <app-chips-input></app-chips-input>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Stacked chips</mat-card-title>
      <app-chips-stacked></app-chips-stacked>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Icon</mat-card-title>
      <app-icon-overview></app-icon-overview>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Configurable progress spinner</mat-card-title>
      <app-progress-spinner-config></app-progress-spinner-config>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>Configurable progress-bar</mat-card-title>
      <app-progress-bar-config></app-progress-bar-config>
    </mat-card>
  </div>

  <div fxLayoutAlign="center">
    <mat-card fxFlex="50" fxFlex.lt-md="100">
      <mat-card-title>MatRipple basic usage</mat-card-title>
      <app-ripple-basic></app-ripple-basic>
      </mat-card>
  </div>

</div>
