<div  fxLayout="column">
  <div fxLayoutAlign="center">
    <mat-card fxFlex="70" fxFlex.gt-md="60" fxFlex.lt-md="100">
      <mat-card-title>
        Typography
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="30px">
        <div fxLayout="column" fxFlex="100" fxLayoutGap="15px">
          <div class="mat-display-4" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Display 4</div>
            <div fxFlex="50">Light 112px</div>
          </div>
          <div class="mat-display-3" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Display 3</div>
            <div fxFlex="50">Regular 56px</div>
          </div>
          <div class="mat-display-2" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Display 2</div>
            <div fxFlex="50">Regular 45px</div>
          </div>
          <div class="mat-display-1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Display 1</div>
            <div fxFlex="50">Regular 34px</div>
          </div>
          <div class="mat-h1 mat-headline" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50" fxFlex="50">Headline</div>
            <div fxFlex="50">Regular 24px</div>
          </div>
          <div class="mat-h2 mat-title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Title</div>
            <div fxFlex="50">Semibold 20px</div>
          </div>
          <div class="mat-h3 mat-subheading-2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Subheading 2</div>
            <div fxFlex="50">Regular 16px</div>
          </div>
          <div class="mat-h4 mat-subheading-1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Subheading 1</div>
            <div fxFlex="50">Regular 15px</div>
          </div>
          <div class="mat-body-strong mat-body-2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Body 2</div>
            <div fxFlex="50">Semibold 14</div>
          </div>
          <div class="mat-body mat-body-1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Body 1</div>
            <div fxFlex="50">Regular 14</div>
          </div>
          <div class="mat-small mat-caption" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50">Caption</div>
            <div fxFlex="50">Regular 12</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50"><button>Button text</button></div>
            <div fxFlex="50" class="mat-body-strong">Semibold 14 (ALL CAPS)</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="50"><input placeholder="Input text"></div>
          </div>
        </div>
        <!-- <div class="mat-h1 mat-headline">Headline 1</div> -->
        <!-- <div class="mat-h2 mat-title">Title</div> -->
        <!-- <div class="mat-h3 mat-subheading-2">Subheading 2</div>
        <div class="mat-h4 mat-subheading-1">Subheading 1</div> -->
        <!-- <div class="mat-body mat-body-1">Body 1</div>
        <div class="mat-body-strong mat-body-2">Body 2</div> -->
        <!-- <div class="mat-small mat-caption">Caption</div> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
